<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="ioswificonnect"
    version="1.0.0">
    <name>iOS Wifi Connect</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/driftyco/cordova-plugin-template.git</repo>
    <issue>https://github.com/driftyco/cordova-plugin-template/issues</issue>
    <!-- ios -->
    <platform name="ios">
        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="ioswificonnect" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="ioswificonnect">
                <param name="ios-package" value="ioswificonnect" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/iOSWifiConnect.h" />
        <source-file src="src/ios/iOSWifiConnect.m" />
    </platform>
</plugin>
