<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordovanetworkmanager"
    version="2.4.0">
  
    <name>cordovaNetworkManager</name>
    <description>Cordova Network Manager for Android and iOS</description>
    <license>MIT</license>
    <keywords>cordova,network,wifi,phonegap</keywords>
    <repo>https://github.com/arsenal942/cordovaNetworkManager.git</repo>
    <issue>https://github.com/arsenal942/cordovaNetworkManager/issues</issue>

    <js-module src="www/cordovaNetworkManager.js" name="cordovaNetworkManager">
      <clobbers target="window.cordovaNetworkManager" />
    </js-module>

  <!-- android -->
    <platform name="android">
      
      <config-file target="AndroidManifest.xml" parent="/manifest">
        <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
        <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
      </config-file>
      
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="cordovaNetworkManager">
          <param name="android-package" value="cordovanetworkmanager.cordovaNetworkManager" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <source-file src="src/android/cordovanetworkmanager/cordovaNetworkManager.java" target-dir="src/android/cordovanetworkmanager" />
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="cordovaNetworkManager">
                <param name="ios-package" value="cordovaNetworkManager"/>
            </feature>
        </config-file>

        <header-file src="src/ios/cordovaNetworkManager.h" />
        <source-file src="src/ios/cordovaNetworkManager.m" />
        <framework src="SystemConfiguration.framework" />
    </platform>
  
</plugin>
