<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="ioswificonnect"
    version="1.0.0">
    <name>iOSWifiConnect</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/arsenal942/iOSWifiConnect.git</repo>
    <issue>https://github.com/arsenal942/iOSWifiConnect/issues</issue>

    <js-module src="www/iOSWifiConnect.js" name="iOSWifiConnect">
      <runs/>
      <clobbers target="window.iOSWifiConnect" />
    </js-module>

    <platform name="ios">      
        <config-file target="config.xml" parent="/*">
            <feature name="iOSWifiConnect">
                <param name="ios-package" value="iOSWifiConnect"/>
            </feature>
        </config-file>

        <header-file src="src/ios/iOSWifiConnect.h" />
        <source-file src="src/ios/iOSWifiConnect.m" />
        <framework src="SystemConfiguration.framework" />
    </platform>
  
</plugin>
